<header></header>
<div id="spinner"></div>
<div class="container" id="page-content-wrapper"></div>
<div id="top-link">
    <a href="javascript:void(0)" id="top-link-a"><span id="topicon"></span><span id="textButton"><%= _t("ui.up") %></span></a>
</div>
<div id="popup"></div>
<footer></footer>