* {
    outline: none;
}

body.modal-open {
    overflow: inherit;
    padding-right: 0 !important;
}

/*
 |------------------------------------------------------------------------------
 | Main menu
 |------------------------------------------------------------------------------
 */

.menu .user-panel {
    float: right;
    margin-right: 15px;
}

.user-panel.nav.navbar-nav {
    margin: 0;
    margin-right: 15px;
}

.user-panel.nav.navbar-nav li {
    float: left;
}

.lang .dropdown-menu {
    min-width: 0;
}

.lang .dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.lang .dropdown-menu span:hover {
    background: #f3f3f3;
}

.logout-xs {
    color: #9d9d9d;
    padding: 10px 15px;
    display: block;
}

.empty {
    color: #a94442;
}

#page-content-wrapper {
    padding-top: 20px;
}

.navbar {
    min-height: 30px;
    margin-bottom: 0;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #000;
}

.nav>li>a.current-lang {
    padding-right: 20px;
}

.navbar-toggle {
    padding: 9px 8px;
    background-color: #ffa800;
    margin-right: 18px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ffa800;
}

.navbar-header {
    background: #000;
    margin-top: -15px;
}

.menu.navbar.navbar-inverse {
    background: #000;
}

.main-menu {
    margin-right: 85px;
}

.custom-menu {
    width: 85px;
    position: absolute;
    right: 20px;
    top: 25px;
    display: flex;
    align-self: center;
}

.custom-menu .button {
    padding: 4px 0;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: #ffa800;
    cursor: pointer;
    margin-left: 10px;
    color: #fff;
}

.menu-list:before {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffa800;
    content: '';
    margin-top: -25px;
    margin-left: 120px;
    position: absolute;
}

.lang-list:before {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #ffa800;
    content: '';
    margin-top: -25px;
    margin-left: 15px;
    position: absolute;
}

.custom-menu .menu-list-control {
    padding: 4px 7px;
}

.custom-menu .menu-list-control .icon-bar {
    display: block;
    height: 2px;
    border-radius: 1px;
    width: 15px;
    background-color: #fff;
    margin: 4px 0;
}

.menu-list,
.lang-list {
    padding: 10px;
    z-index: 1;
    background: #ffa800;
    border-radius: 20px;
    right: 0;
    position: absolute;
}

.menu-list {
    width: 230px;
}

.lang-list {
    width: 70px;
    margin-right: 15px;
    padding: 10px;
}

.menu-list li,
.lang-list li {
    list-style: none;
    border: 1px solid #808080;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 3px;
    height: 30px;
    line-height: 2em;
    font-size: 14px;
}

.menu-list li a,
.lang-list li a {
    text-decoration: none;
    padding: 0;
    color: #333;
    display: block;
}

.menu-list li:hover,
.menu-list li:focus,
.lang-list li:hover,
.lang-list li:focus {
    background-color: #fff;
}

.menu-list li:hover a,
.menu-list li:focus a,
.lang-list li:hover span,
.lang-list li:focus span {
    cursor: pointer;
    font-size: 20px;
    transition: .2s;
}

#appsBlock:before {
    margin-left: 85px;
}

#notificationBlock:before {
    margin-left: 160px;
}

#logOutBox {
    right: 185px;
}

#userName {
    white-space: nowrap;
}

/*
|------------------------------------------------------------------------------
| Questions list
|------------------------------------------------------------------------------
*/
.question-row {
    margin: 10px 0;
}

.questions-list .question-info {
    color: dimgray;
    font-size: 0.9em;
    margin-top: 5px
}

.questions-list .asked_time,
.questions-list .folder {
    color: dimgray;
    font-size: 0.9em;
}

.questions-list .question {
    color: black;
    font-size: 16px;
}

.questions-list .more {
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
}

.address-control.search {
    z-index: 0;
}

#question-list .help {
    width: 330px;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 132;
    background-color: #fff;
    padding: 10px;
    display: none;
    top: 44px;
    left: 50%;
    margin-left: -165px;
}

#question-list .question-form:hover .help {
    display: block;
}

#question-list .help:before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: -30px;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 53%;
    bottom: 100%;
    z-index: 1;
}

#question-list .help:after {
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 16px solid #ccc;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 53%;
    bottom: 100%;
    z-index: 0;
    margin-left: -32px;
}

/*
 |------------------------------------------------------------------------------
 | Votes block
 |------------------------------------------------------------------------------
 */
.votes {
    color: #444444;
    cursor: default;
}

.question_view .votes {
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}

.single-answer .votes {
    float: right;
    margin: 5px 0 0 15px;
    font-size: 20px;
}

.votes .control {
    padding-bottom: 0.3em;
    color: #337ab7;
    cursor: pointer;
}

.votes .counter {
    display: inline-block;
    position: relative;
    bottom: -0.07em;
    margin: 0 5px;
}

.votes .counter.divided {
    font-size: 0.8em;
    position: relative;
    margin: 0 3px;
    bottom: 0;
}

.votes i {
    text-shadow: 1px 1px 4px rgba(155, 155, 155, 0.9);
}

.votes .voted {
    color: #000080;
}

.votes .fa {
    font-size: 0.8em;
}

/*
 |------------------------------------------------------------------------------
 | Single question header
 |------------------------------------------------------------------------------
 */
.time {
    display: block;
    margin-bottom: 5px;
}

.question_view h2 {
    font-size: 1.8em;
    margin: 5px 0;
    word-break: break-all;
}

.time,
.question_view .folder,
.user-info h5 {
    color: dimgray;
    font-size: 0.9em;
    margin-bottom: 5px
}

.folder,
.user-info h5 {
    font-weight: bold;
}

.icon {
    margin-right: 5px;
}

.section-header {
    font-size: 1.2em;
    font-weight: bold;
    color: #aaa;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 15px;
}

.section-header button {
    margin-bottom: 5px;
}

.single-answer {
    margin: 10px 0;
}

.list-group-item .limited {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 15px;
}

.list-group-item .limited::after {
    color: #fff;
    content: ".";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15em;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+74,ffffff+74,ffffff+93&amp;0+0,1+74 */
    background: -moz-linear-gradient(left,  hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,1) 74%, hsla(0,0%,100%,1) 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,100%,0)), color-stop(74%,hsla(0,0%,100%,1)), color-stop(93%,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* IE10+ */
    background: linear-gradient(to right,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

/*
 |------------------------------------------------------------------------------
 | Controls (edit, delete)
 |------------------------------------------------------------------------------
 */
.entry-controls {
    display: none;
}

.entry-controls .fa {
    font-size: 16px;
    padding: 2px;
    margin-right: 3px;
    cursor: pointer;
    color: #555;
}

.question_view .entry-controls {
    float: right;
    margin-right: 20px;
}

.single-answer .row,
.single-comment .row {
    position: relative;
}

.single-answer .entry-controls,
.single-comment .entry-controls {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.single-answer .single-comment .entry-controls {
    right: -5px;
}

.question_view .single-comment .entry-controls {
    right: 10px;
}

/*
 |------------------------------------------------------------------------------
 | Select2
 |------------------------------------------------------------------------------
 */
/* The same color for the select 2 border as from Bootstrap 3 */
.select2-container--default .select2-selection {
    border: 1px solid #ccc;
    font-weight: normal;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-selection--single .select2-selection__rendered {
    padding: 3px 20px 3px 6px;
}

/*
 |------------------------------------------------------------------------------
 | Errors
 |------------------------------------------------------------------------------
 */
.error {
    color: red;
    font-weight: normal;
}

.error.all {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5px;
}

.has-error .control-label {
    color: #333;
    font-weight: normal;
}

.has-error .help-block {
    font-weight: normal;
}

.has-error .select2-selection {
    border-color: #a94442;
}

/*
 |------------------------------------------------------------------------------
 | Answers list
 |------------------------------------------------------------------------------
 */
.new-answer .panel-body {
    padding: 0;
}

.new-answer textarea {
    width: 100%;
    border: none;
    padding: 0.5em;
}

.new-answer .form-group {
    margin: 0;
}
.new-answer .help-block {
    margin-left: 10px;
}

.new-answer-controls {
    text-align: center;
    margin: 15px auto 50px;
}

/*
 |------------------------------------------------------------------------------
 | Popups
 |------------------------------------------------------------------------------
 */
.modal-backdrop.in {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
}

.modal-header {
    background: #aaaaaa;
}

.modal-header h3 {
    font-weight: bold;
}

/*
 |------------------------------------------------------------------------------
 | Confirmation form
 |------------------------------------------------------------------------------
 */
.confirm-form {
    width: 25%;
    margin: auto;
    top: 10%;
    bottom: auto;
}

.confirm-form .form-group.controls {
    margin-bottom: 0;
    text-align: center;
}

/*
 |------------------------------------------------------------------------------
 | Add question popup
 |------------------------------------------------------------------------------
 */
#popup-layout-view {
    padding: 0 !important;
    position: absolute;
    overflow: hidden;
}

#popup-layout-view.question-add {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: auto;

}

#popup-layout-view.question-add .select2-container {
    width: 100% !important;
}

#popup-layout-view.question-add .description label {
    margin-bottom: 5px;
}

#question-add-layout .controls {
    margin: 15px 0 0 0;
    text-align: center;
}

#nav-question-add {
    cursor: pointer;
}

#popup-layout-view .form-group.description {
    margin: 0;
}

/*
 |------------------------------------------------------------------------------
 | Login popup
 |------------------------------------------------------------------------------
 */
#popup-layout-view.login {
    width: 350px;
    left: 50%;
    margin-left: -175px;
    top: 20%;
    bottom: auto;
    display: block;
}

#popup-layout-view.login .control-group {
    min-height: 30px;
    margin-top: 15px;
}

.login-form .controls {
    width: 60px;
    margin: 20px auto 0;
}

/*
 |------------------------------------------------------------------------------
 | User avatar
 |------------------------------------------------------------------------------
 */
.img-thumbnail.big {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
}

.img-thumbnail.medium {
    width: 70px;
    height: 70px;
}

.avatar.small {
    width: 50px;
    height: 50px;
}

/*
 |------------------------------------------------------------------------------
 | Tags
 |------------------------------------------------------------------------------
 */
.tags_list {
    margin-top: 50px;
}

#question-view .tags  {
    display: table;   /* Allow the centering to work */
    text-align: center;
    margin: 20px 0 30px 0;
}

#question-list .tags li,
.tags_list.tags li {
    float: left;
}

#question-view .tags ul {
    list-style: none;
}

#question-view .tags li {
    display: inline-block;
}

#question-list .tags {
    padding: 0;
}

.tags ul {
    margin: 0;
    padding: 0;
}

.tags li {
    list-style: none;
    font-size: 0.8em;
    background-color: #EEEEEE;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}


.tags li a {
    display: block;
    width: 100%;
    padding: 3px 8px;
    text-decoration: none;
    color: #444;
}

.tags_list .list {
    float: left;
    margin-bottom: 20px;
}

.tags_list .title {
    float: left;
    width: 100%;
    padding-top: 5px;
}

.tags .search {
    background: #009933;
    border: none;
}

.tags .search a {
    color: #fff;
}

#tags-region .tags li a {
    max-width: 115px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tag-element {
    float: left;
    text-align: left;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 5px;
}

.tag-element a {
    display: block;
    text-decoration: none;
    color: #444;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    position: relative;
    white-space: nowrap;
}

.tag-element .badge {
    background-color: #aaa;
    position: absolute;
    top: 7px;
    right: 7px;
}

.tag-element a:hover {
    background-color: #009933;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
}

.tag-element a:hover .badge {
    background-color: #ffffff;
    color: #aaa;
}

.tags-collection {
    float: left;
    width: 100%;
}

/*
 |------------------------------------------------------------------------------
 | Code-snippet blocks
 |------------------------------------------------------------------------------
 */
pre {
    border: none;
    border-radius: 0;
    background: inherit;
    padding: 0;
}

pre code.hljs {
    font-family: monospace, monospace;
}

.modal-open {
    overflow: auto;
}

body {
    min-width: 320px;
}

/*
 |------------------------------------------------------------------------------
 | Blockquotes
 |------------------------------------------------------------------------------
 */
blockquote {
    color: #444444;
    font-size: 1em;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;

    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

blockquote .author {
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.7em;
    display: inline-block;
}

/*
 |------------------------------------------------------------------------------
 | Comments
 |------------------------------------------------------------------------------
 */
.comment-form {
    display: none;
}

.comments-form textarea {
    resize: vertical;
}

.form-open {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.single-comment {
    border: none;
    border-top: 1px solid #ddd;
}

.question-preview {
    font-size: 18px;
    padding-right: 0;
    float: right;
}

/*
 |------------------------------------------------------------------------------
 | Spinner
 |------------------------------------------------------------------------------
 */
#spinner {
    height: 0;
    position: relative;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

/*
 |------------------------------------------------------------------------------
 | My questions
 |------------------------------------------------------------------------------
 */
.my-questions .img-thumbnail {
    max-width: 59px;
    max-height: 59px;
    width: 100%;
}

.my-questions .votes {
    float: right;
    margin: 0 15px 0 15px;
}

.my-questions .title-wrapper {
    margin-right: 15px;
}

.my-questions .question-preview {
    font-size: 18px;
}

/*
 |------------------------------------------------------------------------------
 | My Answers list
 |------------------------------------------------------------------------------
 */
.answer-row {
    margin: 10px 0;
}

.answer-header {
    padding-left: 0;
}

.answer-preview {
    font-size: 22px;
    padding-right: 0;
}

.answers-list .votes {
    margin-top: 10px;
}

.answers-list .question-info {
    color: dimgray;
    font-size: 0.9em;
    margin-top: 5px
}

.answers-list .asked_time,
.answers-list .folder {
    color: dimgray;
    font-size: 0.9em;
}

.answers-list .question {
    color: black;
    font-size: 16px;
}

.answers-list .more {
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
}

.my-answers .votes {
    float: right;
    margin: 0 15px 0 15px;
    font-size: 20px;
}

.my-answers .title-wrapper {
    margin-right: 15px;
}

.my-answers .answer-preview {
    font-size: 18px;
}

.questions-answers h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.my-answers .img-thumbnail {
    max-width: 59px;
    max-height: 59px;
    width: 100%;
}

/*
 |------------------------------------------------------------------------------
 | Icons
 |------------------------------------------------------------------------------
 */
div .fa-6 {
    font-size: 20em;
}

div .fa-5 {
    font-size: 12em;
}

div .fa-4 {
    font-size: 7em;
}

div .fa-3 {
    font-size: 4em;
}

div .fa-2 {
    font-size: 2em;
}

div .fa-1 {
    font-size: 1em;
}

div .fa-05 {
    font-size: 0.5em;
}

/*
 |------------------------------------------------------------------------------
 | Paginator
 |------------------------------------------------------------------------------
 */
.paginator {
    text-align: center;
}

/*
 |------------------------------------------------------------------------------
 | Folders
 |------------------------------------------------------------------------------
 */
.nav>li>a {
    padding: 0 11px 5px;
}

.new-folder-form {
    width: 55%;
    margin: auto;
    margin-bottom: 30px;
}

.new-folder-form span {
    margin-left: 55px;
}

.new-folder-form .title-label {
    padding-top: 5px;
    text-align: right;
}

.folder-row {
    width: 45%;
    float: left;
    margin-bottom: 20px;
}

.folder-row .list-group-item {
    height: 75px;
}

.folder-row:nth-child(2n) {
    margin-left: 10%;
}

.glyphicon {
    cursor: pointer;
}

.folders-form-list input {
    cursor: default !important;
}

.control-buttons {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
}

.edit-buttons {
    position: absolute;
    top: 15px;
    right: 10px;
}

.folders-list .form-group {
    margin-bottom: 0;
    margin-right: 55px;
    margin-left: 10px;
}

.folders-form {
    position: relative;
    height: 60px;
}

.folders-form .wrapper-control {
    width: 80px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.folders-form .wrapper-fields {
    margin-right: 95px;
    margin-bottom: 0;
}

.folders-form .help-block {
    margin-bottom: 0;
}

#folders-region {
    float: left;
    width: 100%;
}

.update-folder {
    border: none;
    background-color: #ffffff;
    width: 20px;
    outline: none;
}

.folder a {
    color: dimgray;
    text-decoration: none;
}

/*
 |------------------------------------------------------------------------------
 | Top button
 |------------------------------------------------------------------------------
 */

#top-link {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    padding: 0;
    z-index: 1;
}

#top-link a {
    display: block;
    width: 100px;
    text-align: center;
    background: #333;
    color: white;
    padding: 5px 0;
    margin: 5px;
    text-decoration: none !important;
    border-radius: 5px;
}

#top-link:hover a {
    background:#000;
}

#topicon {
    width: 0;
    height: 0;
    display: inline-block;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-right: 5px;
}

#backicon {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-right: 5px;
}

#textButton {
    display: none;
}

/*
 |------------------------------------------------------------------------------
 | Media
 |------------------------------------------------------------------------------
 */

@media (max-width: 300px) {
    #question-view .votes .dislike,
    #question-view .votes .dislike-vote {
        left: 15% !important;
    }

    #question-view .votes .like,
    #question-view .votes .like-vote {
        left: 15% !important;
    }

    #answers .votes .dislike,
    #answers .votes .dislike-vote {
        left: 0;
    }

    #answers .votes .like,
    #answers .votes .like-vote {
        left: 0;
    }
}

@media (max-width: 350px) {
    .pagination>li>a,
    .pagination>li>span {
        padding: 4px 5px;
        font-size: 12px;
    }

    body {
        font-size: 13px;
    }

    .list-group-item .limited {
        max-height: 4.4em;
    }

    .dropdown.email.open {
        width: 152px;
    }

    .new-folder-form .title-label {
        padding-top: 7px;
    }

    .confirm-form {
        width: 96%;
    }

    .custom-menu {
        right: initial;
        left: 69%;
    }

    #searchBar {
        width: 48%;
    }
}

@media (min-width: 351px) and (max-width: 380px) {
    #searchBar {
        width: 46%;
    }

    .custom-menu {
        left: 67%;
    }
}

@media (max-width: 400px) {
    .tag-element {
        width: 45%;
    }

    .tag-element:nth-child(2n) {
        margin-left: 10%;
    }

    .custom-menu {
        top: 40px;
        right: 13px;
    }

    .main-menu {
        margin-right: 0;
    }

    #appsBtn,
    #notificationBtn {
        margin-top: -20px;
    }

    .header {
        height: 80px;
    }
}

@media (max-width: 650px) {
    .folder-row {
        width: 100%;
    }

    .folder-row:nth-child(2n) {
        margin-left: 0;
    }

    .new-folder-form {
        width: 100%;
    }

    .confirm-form {
        width: 40%;
    }
}

@media (max-width: 460px) {
    .pagination > li > a,
    .pagination > li > span {
        padding: 4px 6px;
        font-size: 13px;
    }

    #popup-layout-view.question-add {
        left: 5%;
        right: 5%;
        top: 5%;
        position: absolute;
    }

    .questions-list .question {
        font-size: 14px;
    }

    .answers-list .question {
        font-size: 14px;
    }

    .h2, h2 {
        font-size: 25px;
    }

    .votes-wrapper {
        width: 19%;
    }

    .votes > div {
        position: relative;
    }

    .votes .counter {
        margin: 0;
        width: 100%;
        display: block;
    }

    .question_view .votes {
        position: relative;
    }

    .votes .control {
        position: absolute;
    }

    #question-view .votes .dislike,
    #question-view .votes .dislike-vote {
        left: 30%;
        top: 75%;
    }

    #question-view .votes .like,
    #question-view .votes .like-vote {
        left: 30%;
        top: -75%;
    }

    #answers .votes .dislike,
    #answers .votes .dislike-vote {
        left: 0;
        top: 75%;
    }

    #answers .votes .like,
    #answers .votes .like-vote {
        left: 0;
        top: -75%;
    }

    #popup-layout-view.login {
        width: 90%;
        margin-left: -45%;
        min-width: 280px;
    }

    .answers-list .votes {
        margin-bottom: 10px;
    }

    .question-row .wrapper-avatar,
    .answer-row .wrapper-avatar {
        word-break: break-all;
    }

    .confirm-form {
        width: 70%;
    }

    .votes .counter.divided {
        top: 2px;
        line-height: 1.75em;
    }
}

@media (min-width: 401px) and (max-width: 550px) {
    .tag-element {
        width: 30%;
    }

    .tag-element:nth-child(3n-1),
    .tag-element:nth-child(3n) {
        margin-left: 5%;
    }
}

@media (max-width: 550px) {
    .pagination>li>a,
    .pagination>li>span {
        padding: 4px 12px;
        font-size: 14px;
    }
}

@media (min-width: 401px) and (max-width: 580px) {
    #searchBar {
        padding-left: 10px;
        margin-top: -65px;
        height: 36px;
        left: 0;
        position: fixed;
        width: 100%;
        border: 2px solid #dadada;
    }

    .searchBtn {
        margin-top: -64px;
        padding-left: 25px;
        padding-right: 25px;
        height: 38px;
        right: 0;
        position: fixed;
    }

    .header {
        margin-top: 40px;
    }

    .custom-menu {
        top: 65px;
    }

    .logo {
        width: 155px;
    }
}

@media (min-width: 551px) and (max-width: 767px) {
    .tag-element {
        width: 20%;
    }

    .tag-element:nth-child(2n),
    .tag-element:nth-child(4n-1) {
        margin-left: 6.5%;
    }
}

@media (max-width: 710px) {
    #userName {
        display: none;
    }

    #userProfile {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .container {
        width: 96%;
    }

    .question-header {
        padding-right: 15px;
    }

    .tags-wrapper {
        float: left;
        padding: 0 15px;
        width: 100%;
    }

    .nav>li.user-avatar {
        display: none;
    }

    .navbar-nav>li>a.dropdown-toggle {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .comments-region,
    .comment-form {
        width: 100%;
        margin-left: 0;
    }

    .questions-answers {
        display: block;
    }

    .questions-answers .col-md-6 {
        display: block;
        float: left;
        padding-bottom: 0;
    }

    #question-list .img-thumbnail.big,
    .my-questions .img-thumbnail,
    .my-answers .img-thumbnail {
        max-width: 75px;
        max-height: 75px;
    }

    #popup-layout-view.login .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }

    .navbar-header .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        width: auto;
        margin-top: 0;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }

    .container {
        width: 96%;
    }

    .question-header {
        padding-left: 0;
        padding-right: 15px;
    }

    .comments-region,
    .comment-form {
        width: 80%;
        margin-left: 20%;
    }

    .questions-answers {
        display: table;
    }

    .questions-answers .col-md-6 {
        display: table-cell;
        float: none;
        padding-bottom: 70px;
    }

    #questions-paginator-region {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #answers-paginator-region {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .tag-element {
        width: 15%;
    }

    .tag-element:nth-child(5n-3),
    .tag-element:nth-child(5n-2),
    .tag-element:nth-child(5n-1),
    .tag-element:nth-child(5n) {
        margin-left: 6.2%;
    }
}

@media (min-width: 850px) {
    .tag-element {
        width: 15%;
    }

    .tag-element:nth-child(5n-3),
    .tag-element:nth-child(5n-2),
    .tag-element:nth-child(5n-1),
    .tag-element:nth-child(5n) {
        margin-left: 6.2%;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 940px;
    }
}

@media (min-width: 1250px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1251px) {
    .container {
        width: 1170px;
    }

    .comments-region, .comment-form {
        width: 88%;
        margin-left: 12%;
    }

    .tag-element {
        width: 12%;
    }

    .tag-element:nth-child(5n-3),
    .tag-element:nth-child(5n-2),
    .tag-element:nth-child(5n-1),
    .tag-element:nth-child(5n) {
        margin-left: 10%;
    }
}

@media (max-width: 767px) {
    #top-link{
        display:none!important;
    }
}